.player-container {
    background: rgb(33, 37, 41);
    display: block;
    justify-content: center;
}

.control-panel {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    max-height: 64px;
    min-width: 100%;
    align-items: center;
    height: 64px;
}

.footer-panel {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    max-height: 64px;
    min-width: 100%;
    align-items: center;
    height: 64px;
}


.app-container {
    height: calc(80vh - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-region {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.right-region {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.center-region {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.app {
    align-content: center;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.app>h1 {
    font-size: 25px;
    color: #222;
    font-weight: bold;
    border-bottom: 1px solid #cdcdcd;
    color: #b4b4b4;
    padding-bottom: .7rem;
}

.quiz {
    padding: 20px 0;
}

.quiz>h2 {
    font-size: 18px;
    color: #b4b4b4;
    font-weight: 100;
}

#answer-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #fff;
    color: #404040;
    font-weight: 100;
    width: 100%;
    border: 1px solid #b4b4b4;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    transition: all .25s linear;
}

.btn:hover:not([disabled]) {
    background-color: #b4b4b4;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
}

#name-tag {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #b4b4b4;
    font-weight: 100;
}

#next-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #b4b4b4;
    color: #404040;
    font-weight: 100;
    width: 140px;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
}

#next-btn:hover {
    transform: translateY(-2px);
    opacity: .8;
}

#prev-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #b4b4b4;
    color: #404040e1;
    font-weight: 100;
    width: 140px;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
}

#prev-btn:hover {
    transform: translateY(-2px);
    opacity: .8;
}

#submit-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #b4b4b4;
    color: #404040;
    font-weight: 100;
    width: 140px;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
}

#submit-btn:hover {
    transform: translateY(-2px);
    opacity: .8;
}

#showtime {
    font-family: 'Poppins', sans-serif;
    background-color: #4e4d4d;
    color: #cccccc;
    font-weight: 100;
    width: 100px;
    height: 46px;
    /* margin: 10px 0; */
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
}

#question-count {

    font-family: 'Poppins', sans-serif;
    background-color: #b4b4b4;
    color: #404040;
    font-weight: 100;
    width: 140px;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s linear;
}

.correct {
    background-color: #036444;
    color: #fff;
    border-color: #036444;
}

.incorrect {
    background-color: #e36060;
    color: #fff;
    border-color: #e36060;
}